<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymykset</title>
        <meta charset="utf-8" />
    </head>

    <body>  
        <h1>Kysymykset</h1>
        <ul> 
            <li th:each="kysymys: ${kysymykset}">
                <span th:text="${kysymys.kteksti}">kysymys</span>
                <button type="button" >Poista</button> 
            </li>   
        </ul>
        
        
        <h3>Lisää kysymys</h3>
        <form method="POST" action="/kysymykset">
            Kurssi:<br/>
            <input type="text" name="kurssi"/><br/>
            Aihe:<br/>
            <input type="text" name="aihe"/><br/>
            Kysymys:<br/>
            <input type="text" name="kteksti"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        

    </body>
</html>